tree.json
{
  "version": "tree-0.1",
  "tree": {
    "id": "App",
    "path": "",
    "children": {
      "GenAIUnderwritingValidationStack": {
        "id": "GenAIUnderwritingValidationStack",
        "path": "GenAIUnderwritingValidationStack",
        "children": {
          "UnderwritingManualS3Bucket-964": {
            "id": "UnderwritingManualS3Bucket-964",
            "path": "GenAIUnderwritingValidationStack/UnderwritingManualS3Bucket-964",
            "children": {
              "S3Bucket-underwriting-manual-bucket-964": {
                "id": "S3Bucket-underwriting-manual-bucket-964",
                "path": "GenAIUnderwritingValidationStack/UnderwritingManualS3Bucket-964/S3Bucket-underwriting-manual-bucket-964",
                "children": {
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/UnderwritingManualS3Bucket-964/S3Bucket-underwriting-manual-bucket-964/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::S3::Bucket",
                      "aws:cdk:cloudformation:props": {
                        "bucketName": "underwriting-manual-bucket-964",
                        "tags": [
                          {
                            "key": "aws-cdk:auto-delete-objects",
                            "value": "true"
                          },
                          {
                            "key": "aws-cdk:cr-owned:e6e041a5",
                            "value": "true"
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.CfnBucket",
                      "version": "2.151.0"
                    }
                  },
                  "Policy": {
                    "id": "Policy",
                    "path": "GenAIUnderwritingValidationStack/UnderwritingManualS3Bucket-964/S3Bucket-underwriting-manual-bucket-964/Policy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/UnderwritingManualS3Bucket-964/S3Bucket-underwriting-manual-bucket-964/Policy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::S3::BucketPolicy",
                          "aws:cdk:cloudformation:props": {
                            "bucket": {
                              "Ref": "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0"
                            },
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": [
                                    "s3:DeleteObject*",
                                    "s3:GetBucket*",
                                    "s3:List*",
                                    "s3:PutBucketPolicy"
                                  ],
                                  "Effect": "Allow",
                                  "Principal": {
                                    "AWS": {
                                      "Fn::GetAtt": [
                                        "CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092",
                                        "Arn"
                                      ]
                                    }
                                  },
                                  "Resource": [
                                    {
                                      "Fn::GetAtt": [
                                        "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          {
                                            "Fn::GetAtt": [
                                              "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0",
                                              "Arn"
                                            ]
                                          },
                                          "/*"
                                        ]
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Version": "2012-10-17"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.CfnBucketPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.BucketPolicy",
                      "version": "2.151.0"
                    }
                  },
                  "AutoDeleteObjectsCustomResource": {
                    "id": "AutoDeleteObjectsCustomResource",
                    "path": "GenAIUnderwritingValidationStack/UnderwritingManualS3Bucket-964/S3Bucket-underwriting-manual-bucket-964/AutoDeleteObjectsCustomResource",
                    "children": {
                      "Default": {
                        "id": "Default",
                        "path": "GenAIUnderwritingValidationStack/UnderwritingManualS3Bucket-964/S3Bucket-underwriting-manual-bucket-964/AutoDeleteObjectsCustomResource/Default",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.CustomResource",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_s3.Bucket",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "Custom::S3AutoDeleteObjectsCustomResourceProvider": {
            "id": "Custom::S3AutoDeleteObjectsCustomResourceProvider",
            "path": "GenAIUnderwritingValidationStack/Custom::S3AutoDeleteObjectsCustomResourceProvider",
            "children": {
              "Staging": {
                "id": "Staging",
                "path": "GenAIUnderwritingValidationStack/Custom::S3AutoDeleteObjectsCustomResourceProvider/Staging",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.AssetStaging",
                  "version": "2.151.0"
                }
              },
              "Role": {
                "id": "Role",
                "path": "GenAIUnderwritingValidationStack/Custom::S3AutoDeleteObjectsCustomResourceProvider/Role",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.CfnResource",
                  "version": "2.151.0"
                }
              },
              "Handler": {
                "id": "Handler",
                "path": "GenAIUnderwritingValidationStack/Custom::S3AutoDeleteObjectsCustomResourceProvider/Handler",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.CfnResource",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "aws-cdk-lib.CustomResourceProviderBase",
              "version": "2.151.0"
            }
          },
          "UploadUnderwritingManual": {
            "id": "UploadUnderwritingManual",
            "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual",
            "children": {
              "AwsCliLayer": {
                "id": "AwsCliLayer",
                "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/AwsCliLayer",
                "children": {
                  "Code": {
                    "id": "Code",
                    "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/AwsCliLayer/Code",
                    "children": {
                      "Stage": {
                        "id": "Stage",
                        "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/AwsCliLayer/Code/Stage",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.AssetStaging",
                          "version": "2.151.0"
                        }
                      },
                      "AssetBucket": {
                        "id": "AssetBucket",
                        "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/AwsCliLayer/Code/AssetBucket",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/AwsCliLayer/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::LayerVersion",
                      "aws:cdk:cloudformation:props": {
                        "content": {
                          "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                          "s3Key": "3322b7049fb0ed2b7cbb644a2ada8d1116ff80c32dca89e6ada846b5de26f961.zip"
                        },
                        "description": "/opt/awscli/aws"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnLayerVersion",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.lambda_layer_awscli.AwsCliLayer",
                  "version": "2.151.0"
                }
              },
              "CustomResourceHandler": {
                "id": "CustomResourceHandler",
                "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/CustomResourceHandler",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_lambda.SingletonFunction",
                  "version": "2.151.0"
                }
              },
              "Asset1": {
                "id": "Asset1",
                "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/Asset1",
                "children": {
                  "Stage": {
                    "id": "Stage",
                    "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/Asset1/Stage",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.AssetStaging",
                      "version": "2.151.0"
                    }
                  },
                  "AssetBucket": {
                    "id": "AssetBucket",
                    "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/Asset1/AssetBucket",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                  "version": "2.151.0"
                }
              },
              "CustomResource": {
                "id": "CustomResource",
                "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/CustomResource",
                "children": {
                  "Default": {
                    "id": "Default",
                    "path": "GenAIUnderwritingValidationStack/UploadUnderwritingManual/CustomResource/Default",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.CfnResource",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.CustomResource",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "aws-cdk-lib.aws_s3_deployment.BucketDeployment",
              "version": "2.151.0"
            }
          },
          "Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C": {
            "id": "Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C",
            "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C",
            "children": {
              "ServiceRole": {
                "id": "ServiceRole",
                "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/ServiceRole",
                "children": {
                  "ImportServiceRole": {
                    "id": "ImportServiceRole",
                    "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/ServiceRole/ImportServiceRole",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/ServiceRole/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                      "aws:cdk:cloudformation:props": {
                        "assumeRolePolicyDocument": {
                          "Statement": [
                            {
                              "Action": "sts:AssumeRole",
                              "Effect": "Allow",
                              "Principal": {
                                "Service": "lambda.amazonaws.com"
                              }
                            }
                          ],
                          "Version": "2012-10-17"
                        },
                        "managedPolicyArns": [
                          {
                            "Fn::Join": [
                              "",
                              [
                                "arn:",
                                {
                                  "Ref": "AWS::Partition"
                                },
                                ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                              ]
                            ]
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                      "version": "2.151.0"
                    }
                  },
                  "DefaultPolicy": {
                    "id": "DefaultPolicy",
                    "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/ServiceRole/DefaultPolicy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/ServiceRole/DefaultPolicy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                          "aws:cdk:cloudformation:props": {
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": [
                                    "s3:GetBucket*",
                                    "s3:GetObject*",
                                    "s3:List*"
                                  ],
                                  "Effect": "Allow",
                                  "Resource": [
                                    "arn:aws:s3:::cdk-hnb659fds-assets-339263341917-us-east-1",
                                    "arn:aws:s3:::cdk-hnb659fds-assets-339263341917-us-east-1/*"
                                  ]
                                },
                                {
                                  "Action": [
                                    "s3:Abort*",
                                    "s3:DeleteObject*",
                                    "s3:GetBucket*",
                                    "s3:GetObject*",
                                    "s3:List*",
                                    "s3:PutObject",
                                    "s3:PutObjectLegalHold",
                                    "s3:PutObjectRetention",
                                    "s3:PutObjectTagging",
                                    "s3:PutObjectVersionTagging"
                                  ],
                                  "Effect": "Allow",
                                  "Resource": [
                                    {
                                      "Fn::GetAtt": [
                                        "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          {
                                            "Fn::GetAtt": [
                                              "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0",
                                              "Arn"
                                            ]
                                          },
                                          "/*"
                                        ]
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Version": "2012-10-17"
                            },
                            "policyName": "CustomCDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756CServiceRoleDefaultPolicy88902FDF",
                            "roles": [
                              {
                                "Ref": "CustomCDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756CServiceRole89A01265"
                              }
                            ]
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Policy",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.Role",
                  "version": "2.151.0"
                }
              },
              "Code": {
                "id": "Code",
                "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/Code",
                "children": {
                  "Stage": {
                    "id": "Stage",
                    "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/Code/Stage",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.AssetStaging",
                      "version": "2.151.0"
                    }
                  },
                  "AssetBucket": {
                    "id": "AssetBucket",
                    "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/Code/AssetBucket",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                  "version": "2.151.0"
                }
              },
              "Resource": {
                "id": "Resource",
                "path": "GenAIUnderwritingValidationStack/Custom::CDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756C/Resource",
                "attributes": {
                  "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                  "aws:cdk:cloudformation:props": {
                    "code": {
                      "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                      "s3Key": "0158f40002a8c211635388a87874fd4dcc3d68f525fe08a0fe0f014069ae539c.zip"
                    },
                    "environment": {
                      "variables": {
                        "AWS_CA_BUNDLE": "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"
                      }
                    },
                    "handler": "index.handler",
                    "layers": [
                      {
                        "Ref": "UploadUnderwritingManualAwsCliLayerFC87A608"
                      }
                    ],
                    "role": {
                      "Fn::GetAtt": [
                        "CustomCDKBucketDeployment8693BB64968944B69AAFB0CC9EB8756CServiceRole89A01265",
                        "Arn"
                      ]
                    },
                    "runtime": "python3.9",
                    "timeout": 900
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "aws-cdk-lib.aws_lambda.Function",
              "version": "2.151.0"
            }
          },
          "DocumentS3Bucket-964": {
            "id": "DocumentS3Bucket-964",
            "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964",
            "children": {
              "S3Bucket-underwriting-document-bucket-964": {
                "id": "S3Bucket-underwriting-document-bucket-964",
                "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964/S3Bucket-underwriting-document-bucket-964",
                "children": {
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964/S3Bucket-underwriting-document-bucket-964/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::S3::Bucket",
                      "aws:cdk:cloudformation:props": {
                        "bucketName": "underwriting-document-bucket-964",
                        "tags": [
                          {
                            "key": "aws-cdk:auto-delete-objects",
                            "value": "true"
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.CfnBucket",
                      "version": "2.151.0"
                    }
                  },
                  "Policy": {
                    "id": "Policy",
                    "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964/S3Bucket-underwriting-document-bucket-964/Policy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964/S3Bucket-underwriting-document-bucket-964/Policy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::S3::BucketPolicy",
                          "aws:cdk:cloudformation:props": {
                            "bucket": {
                              "Ref": "DocumentS3Bucket964S3Bucketunderwritingdocumentbucket96419F2A951"
                            },
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": [
                                    "s3:DeleteObject*",
                                    "s3:GetBucket*",
                                    "s3:List*",
                                    "s3:PutBucketPolicy"
                                  ],
                                  "Effect": "Allow",
                                  "Principal": {
                                    "AWS": {
                                      "Fn::GetAtt": [
                                        "CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092",
                                        "Arn"
                                      ]
                                    }
                                  },
                                  "Resource": [
                                    {
                                      "Fn::GetAtt": [
                                        "DocumentS3Bucket964S3Bucketunderwritingdocumentbucket96419F2A951",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          {
                                            "Fn::GetAtt": [
                                              "DocumentS3Bucket964S3Bucketunderwritingdocumentbucket96419F2A951",
                                              "Arn"
                                            ]
                                          },
                                          "/*"
                                        ]
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Version": "2012-10-17"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.CfnBucketPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.BucketPolicy",
                      "version": "2.151.0"
                    }
                  },
                  "AutoDeleteObjectsCustomResource": {
                    "id": "AutoDeleteObjectsCustomResource",
                    "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964/S3Bucket-underwriting-document-bucket-964/AutoDeleteObjectsCustomResource",
                    "children": {
                      "Default": {
                        "id": "Default",
                        "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964/S3Bucket-underwriting-document-bucket-964/AutoDeleteObjectsCustomResource/Default",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.CustomResource",
                      "version": "2.151.0"
                    }
                  },
                  "Notifications": {
                    "id": "Notifications",
                    "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964/S3Bucket-underwriting-document-bucket-964/Notifications",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/DocumentS3Bucket-964/S3Bucket-underwriting-document-bucket-964/Notifications/Resource",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "constructs.Construct",
                      "version": "10.3.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_s3.Bucket",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "BucketNotificationsHandler050a0587b7544547bf325f094a3db834": {
            "id": "BucketNotificationsHandler050a0587b7544547bf325f094a3db834",
            "path": "GenAIUnderwritingValidationStack/BucketNotificationsHandler050a0587b7544547bf325f094a3db834",
            "children": {
              "Role": {
                "id": "Role",
                "path": "GenAIUnderwritingValidationStack/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role",
                "children": {
                  "ImportRole": {
                    "id": "ImportRole",
                    "path": "GenAIUnderwritingValidationStack/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role/ImportRole",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                      "aws:cdk:cloudformation:props": {
                        "assumeRolePolicyDocument": {
                          "Statement": [
                            {
                              "Action": "sts:AssumeRole",
                              "Effect": "Allow",
                              "Principal": {
                                "Service": "lambda.amazonaws.com"
                              }
                            }
                          ],
                          "Version": "2012-10-17"
                        },
                        "managedPolicyArns": [
                          {
                            "Fn::Join": [
                              "",
                              [
                                "arn:",
                                {
                                  "Ref": "AWS::Partition"
                                },
                                ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                              ]
                            ]
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                      "version": "2.151.0"
                    }
                  },
                  "DefaultPolicy": {
                    "id": "DefaultPolicy",
                    "path": "GenAIUnderwritingValidationStack/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role/DefaultPolicy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role/DefaultPolicy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                          "aws:cdk:cloudformation:props": {
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": "s3:PutBucketNotification",
                                  "Effect": "Allow",
                                  "Resource": "*"
                                }
                              ],
                              "Version": "2012-10-17"
                            },
                            "policyName": "BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleDefaultPolicy2CF63D36",
                            "roles": [
                              {
                                "Ref": "BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC"
                              }
                            ]
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Policy",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.Role",
                  "version": "2.151.0"
                }
              },
              "Resource": {
                "id": "Resource",
                "path": "GenAIUnderwritingValidationStack/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Resource",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.CfnResource",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "StepFunctionInputOutputBucket-964": {
            "id": "StepFunctionInputOutputBucket-964",
            "path": "GenAIUnderwritingValidationStack/StepFunctionInputOutputBucket-964",
            "children": {
              "S3Bucket-step-function-input-bucket-964": {
                "id": "S3Bucket-step-function-input-bucket-964",
                "path": "GenAIUnderwritingValidationStack/StepFunctionInputOutputBucket-964/S3Bucket-step-function-input-bucket-964",
                "children": {
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/StepFunctionInputOutputBucket-964/S3Bucket-step-function-input-bucket-964/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::S3::Bucket",
                      "aws:cdk:cloudformation:props": {
                        "bucketName": "step-function-input-bucket-964",
                        "tags": [
                          {
                            "key": "aws-cdk:auto-delete-objects",
                            "value": "true"
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.CfnBucket",
                      "version": "2.151.0"
                    }
                  },
                  "Policy": {
                    "id": "Policy",
                    "path": "GenAIUnderwritingValidationStack/StepFunctionInputOutputBucket-964/S3Bucket-step-function-input-bucket-964/Policy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/StepFunctionInputOutputBucket-964/S3Bucket-step-function-input-bucket-964/Policy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::S3::BucketPolicy",
                          "aws:cdk:cloudformation:props": {
                            "bucket": {
                              "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                            },
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": [
                                    "s3:DeleteObject*",
                                    "s3:GetBucket*",
                                    "s3:List*",
                                    "s3:PutBucketPolicy"
                                  ],
                                  "Effect": "Allow",
                                  "Principal": {
                                    "AWS": {
                                      "Fn::GetAtt": [
                                        "CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092",
                                        "Arn"
                                      ]
                                    }
                                  },
                                  "Resource": [
                                    {
                                      "Fn::GetAtt": [
                                        "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          {
                                            "Fn::GetAtt": [
                                              "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4",
                                              "Arn"
                                            ]
                                          },
                                          "/*"
                                        ]
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Version": "2012-10-17"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.CfnBucketPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.BucketPolicy",
                      "version": "2.151.0"
                    }
                  },
                  "AutoDeleteObjectsCustomResource": {
                    "id": "AutoDeleteObjectsCustomResource",
                    "path": "GenAIUnderwritingValidationStack/StepFunctionInputOutputBucket-964/S3Bucket-step-function-input-bucket-964/AutoDeleteObjectsCustomResource",
                    "children": {
                      "Default": {
                        "id": "Default",
                        "path": "GenAIUnderwritingValidationStack/StepFunctionInputOutputBucket-964/S3Bucket-step-function-input-bucket-964/AutoDeleteObjectsCustomResource/Default",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.CustomResource",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_s3.Bucket",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "KnowledgeBase": {
            "id": "KnowledgeBase",
            "path": "GenAIUnderwritingValidationStack/KnowledgeBase",
            "children": {
              "VectorCollection": {
                "id": "VectorCollection",
                "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection",
                "children": {
                  "EncryptionPolicy": {
                    "id": "EncryptionPolicy",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection/EncryptionPolicy",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::OpenSearchServerless::SecurityPolicy",
                      "aws:cdk:cloudformation:props": {
                        "name": "encryptionpolicygenation392ae2a7",
                        "policy": "{\"Rules\":[{\"ResourceType\":\"collection\",\"Resource\":[\"collection/vectorstoregenaiuection392ae2a7\"]}],\"AWSOwnedKey\":true}",
                        "type": "encryption"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_opensearchserverless.CfnSecurityPolicy",
                      "version": "2.151.0"
                    }
                  },
                  "NetworkPolicy": {
                    "id": "NetworkPolicy",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection/NetworkPolicy",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::OpenSearchServerless::SecurityPolicy",
                      "aws:cdk:cloudformation:props": {
                        "name": "networkpolicygenaiction392ae2a7",
                        "policy": "[{\"Rules\":[{\"ResourceType\":\"collection\",\"Resource\":[\"collection/vectorstoregenaiuection392ae2a7\"]},{\"ResourceType\":\"dashboard\",\"Resource\":[\"collection/vectorstoregenaiuection392ae2a7\"]}],\"AllowFromPublic\":true}]",
                        "type": "network"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_opensearchserverless.CfnSecurityPolicy",
                      "version": "2.151.0"
                    }
                  },
                  "VectorCollection": {
                    "id": "VectorCollection",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection/VectorCollection",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::OpenSearchServerless::Collection",
                      "aws:cdk:cloudformation:props": {
                        "name": "vectorstoregenaiuection392ae2a7",
                        "type": "VECTORSEARCH"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_opensearchserverless.CfnCollection",
                      "version": "2.151.0"
                    }
                  },
                  "AOSSApiAccessAll": {
                    "id": "AOSSApiAccessAll",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection/AOSSApiAccessAll",
                    "children": {
                      "ImportedAOSSApiAccessAll": {
                        "id": "ImportedAOSSApiAccessAll",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection/AOSSApiAccessAll/ImportedAOSSApiAccessAll",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.Resource",
                          "version": "2.151.0"
                        }
                      },
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection/AOSSApiAccessAll/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::ManagedPolicy",
                          "aws:cdk:cloudformation:props": {
                            "description": "",
                            "path": "/",
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": "aoss:APIAccessAll",
                                  "Effect": "Allow",
                                  "Resource": {
                                    "Fn::GetAtt": [
                                      "KnowledgeBaseVectorCollection7204FC26",
                                      "Arn"
                                    ]
                                  }
                                }
                              ],
                              "Version": "2012-10-17"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnManagedPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.ManagedPolicy",
                      "version": "2.151.0"
                    }
                  },
                  "IsDataAccessPolicyNotEmpty": {
                    "id": "IsDataAccessPolicyNotEmpty",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection/IsDataAccessPolicyNotEmpty",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.CfnCondition",
                      "version": "2.151.0"
                    }
                  },
                  "DataAccessPolicy": {
                    "id": "DataAccessPolicy",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorCollection/DataAccessPolicy",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::OpenSearchServerless::AccessPolicy",
                      "aws:cdk:cloudformation:props": {
                        "name": "dataaccesspolicygenation392ae2a7",
                        "policy": {
                          "Fn::Join": [
                            "",
                            [
                              "[{\"Rules\":[{\"Resource\":[\"collection/vectorstoregenaiuection392ae2a7\"],\"Permission\":[\"aoss:DescribeCollectionItems\",\"aoss:CreateCollectionItems\",\"aoss:UpdateCollectionItems\"],\"ResourceType\":\"collection\"},{\"Resource\":[\"index/vectorstoregenaiuection392ae2a7/*\"],\"Permission\":[\"aoss:UpdateIndex\",\"aoss:DescribeIndex\",\"aoss:ReadDocument\",\"aoss:WriteDocument\",\"aoss:CreateIndex\"],\"ResourceType\":\"index\"}],\"Principal\":[\"",
                              {
                                "Fn::GetAtt": [
                                  "KnowledgeBaseRoleDB110E91",
                                  "Arn"
                                ]
                              },
                              "\"],\"Description\":\"\"}]"
                            ]
                          ]
                        },
                        "type": "data"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_opensearchserverless.CfnAccessPolicy",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "@cdklabs/generative-ai-cdk-constructs.opensearchserverless.VectorCollection",
                  "version": "0.1.112"
                }
              },
              "VectorIndex": {
                "id": "VectorIndex",
                "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorIndex",
                "children": {
                  "ManageIndexPolicy": {
                    "id": "ManageIndexPolicy",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorIndex/ManageIndexPolicy",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::OpenSearchServerless::AccessPolicy",
                      "aws:cdk:cloudformation:props": {
                        "name": "manageindexpolicygendexe4187479",
                        "policy": {
                          "Fn::Join": [
                            "",
                            [
                              "[{\"Rules\":[{\"Resource\":[\"index/vectorstoregenaiuection392ae2a7/*\"],\"Permission\":[\"aoss:DescribeIndex\",\"aoss:CreateIndex\",\"aoss:DeleteIndex\",\"aoss:UpdateIndex\"],\"ResourceType\":\"index\"},{\"Resource\":[\"collection/vectorstoregenaiuection392ae2a7\"],\"Permission\":[\"aoss:DescribeCollectionItems\"],\"ResourceType\":\"collection\"}],\"Principal\":[\"",
                              {
                                "Fn::GetAtt": [
                                  "OpenSearchIndexCRProviderCRRole466FC04E",
                                  "Arn"
                                ]
                              },
                              "\"],\"Description\":\"\"}]"
                            ]
                          ]
                        },
                        "type": "data"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_opensearchserverless.CfnAccessPolicy",
                      "version": "2.151.0"
                    }
                  },
                  "VectorIndex": {
                    "id": "VectorIndex",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorIndex/VectorIndex",
                    "children": {
                      "Default": {
                        "id": "Default",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/VectorIndex/VectorIndex/Default",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.CustomResource",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "@cdklabs/generative-ai-cdk-constructs.opensearch_vectorindex.VectorIndex",
                  "version": "0.1.112"
                }
              },
              "KnowledgeBase": {
                "id": "KnowledgeBase",
                "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase",
                "children": {
                  "Role": {
                    "id": "Role",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/Role",
                    "children": {
                      "ImportRole": {
                        "id": "ImportRole",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/Role/ImportRole",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.Resource",
                          "version": "2.151.0"
                        }
                      },
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/Role/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                          "aws:cdk:cloudformation:props": {
                            "assumeRolePolicyDocument": {
                              "Statement": [
                                {
                                  "Action": "sts:AssumeRole",
                                  "Effect": "Allow",
                                  "Principal": {
                                    "Service": "bedrock.amazonaws.com"
                                  }
                                },
                                {
                                  "Action": "sts:AssumeRole",
                                  "Condition": {
                                    "StringEquals": {
                                      "aws:SourceAccount": "339263341917"
                                    },
                                    "ArnLike": {
                                      "aws:SourceArn": "arn:aws:bedrock:us-east-1:339263341917:knowledge-base/*"
                                    }
                                  },
                                  "Effect": "Allow",
                                  "Principal": {
                                    "Service": "bedrock.amazonaws.com"
                                  }
                                }
                              ],
                              "Version": "2012-10-17"
                            },
                            "managedPolicyArns": [
                              {
                                "Ref": "KnowledgeBaseVectorCollectionAOSSApiAccessAllF67C95FE"
                              }
                            ],
                            "roleName": "AmazonBedrockExecutionRoleForKnowledgeBaseGenAIUndgeBaseF088A14C"
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                          "version": "2.151.0"
                        }
                      },
                      "DefaultPolicy": {
                        "id": "DefaultPolicy",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/Role/DefaultPolicy",
                        "children": {
                          "Resource": {
                            "id": "Resource",
                            "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/Role/DefaultPolicy/Resource",
                            "attributes": {
                              "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                              "aws:cdk:cloudformation:props": {
                                "policyDocument": {
                                  "Statement": [
                                    {
                                      "Action": "bedrock:InvokeModel",
                                      "Effect": "Allow",
                                      "Resource": "arn:aws:bedrock:us-east-1::foundation-model/cohere.embed-english-v3"
                                    },
                                    {
                                      "Action": [
                                        "s3:GetBucket*",
                                        "s3:GetObject*",
                                        "s3:List*"
                                      ],
                                      "Effect": "Allow",
                                      "Resource": [
                                        {
                                          "Fn::GetAtt": [
                                            "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0",
                                            "Arn"
                                          ]
                                        },
                                        {
                                          "Fn::Join": [
                                            "",
                                            [
                                              {
                                                "Fn::GetAtt": [
                                                  "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0",
                                                  "Arn"
                                                ]
                                              },
                                              "/*"
                                            ]
                                          ]
                                        }
                                      ]
                                    }
                                  ],
                                  "Version": "2012-10-17"
                                },
                                "policyName": "KnowledgeBaseRoleDefaultPolicyF1120426",
                                "roles": [
                                  {
                                    "Ref": "KnowledgeBaseRoleDB110E91"
                                  }
                                ]
                              }
                            },
                            "constructInfo": {
                              "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                              "version": "2.151.0"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.Policy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Role",
                      "version": "2.151.0"
                    }
                  },
                  "KB": {
                    "id": "KB",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/KB",
                    "children": {
                      "Default": {
                        "id": "Default",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/KB/Default",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.CustomResource",
                      "version": "2.151.0"
                    }
                  },
                  "KBCRPolicy": {
                    "id": "KBCRPolicy",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/KBCRPolicy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/KnowledgeBase/KBCRPolicy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                          "aws:cdk:cloudformation:props": {
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": "bedrock:CreateKnowledgeBase",
                                  "Effect": "Allow",
                                  "Resource": "*"
                                },
                                {
                                  "Action": [
                                    "bedrock:DeleteKnowledgeBase",
                                    "bedrock:TagResource",
                                    "bedrock:UpdateKnowledgeBase"
                                  ],
                                  "Effect": "Allow",
                                  "Resource": "arn:aws:bedrock:us-east-1:339263341917:knowledge-base/*"
                                },
                                {
                                  "Action": "iam:PassRole",
                                  "Effect": "Allow",
                                  "Resource": {
                                    "Fn::GetAtt": [
                                      "KnowledgeBaseRoleDB110E91",
                                      "Arn"
                                    ]
                                  }
                                }
                              ],
                              "Version": "2012-10-17"
                            },
                            "policyName": "KnowledgeBaseKBCRPolicyF880EDB0",
                            "roles": [
                              {
                                "Ref": "BedrockCRProviderCRRole90406B17"
                              }
                            ]
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Policy",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "@cdklabs/generative-ai-cdk-constructs.bedrock.KnowledgeBase",
                  "version": "0.1.112"
                }
              },
              "DataSource": {
                "id": "DataSource",
                "path": "GenAIUnderwritingValidationStack/KnowledgeBase/DataSource",
                "children": {
                  "DataSource": {
                    "id": "DataSource",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/DataSource/DataSource",
                    "children": {
                      "Default": {
                        "id": "Default",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/DataSource/DataSource/Default",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.CustomResource",
                      "version": "2.151.0"
                    }
                  },
                  "DataSourceCRPolicy": {
                    "id": "DataSourceCRPolicy",
                    "path": "GenAIUnderwritingValidationStack/KnowledgeBase/DataSource/DataSourceCRPolicy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/KnowledgeBase/DataSource/DataSourceCRPolicy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                          "aws:cdk:cloudformation:props": {
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": [
                                    "bedrock:CreateDataSource",
                                    "bedrock:DeleteDataSource",
                                    "bedrock:UpdateDataSource"
                                  ],
                                  "Effect": "Allow",
                                  "Resource": "arn:aws:bedrock:us-east-1:339263341917:knowledge-base/*"
                                },
                                {
                                  "Action": [
                                    "s3:GetObject",
                                    "s3:ListBucket"
                                  ],
                                  "Effect": "Allow",
                                  "Resource": [
                                    {
                                      "Fn::GetAtt": [
                                        "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          {
                                            "Fn::GetAtt": [
                                              "UnderwritingManualS3Bucket964S3Bucketunderwritingmanualbucket9645004F1E0",
                                              "Arn"
                                            ]
                                          },
                                          "/*"
                                        ]
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Version": "2012-10-17"
                            },
                            "policyName": "KnowledgeBaseDataSourceDataSourceCRPolicyA0D852AA",
                            "roles": [
                              {
                                "Ref": "BedrockCRProviderCRRole90406B17"
                              }
                            ]
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Policy",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "@cdklabs/generative-ai-cdk-constructs.bedrock.S3DataSource",
                  "version": "0.1.112"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "OpenSearchIndexCRProvider": {
            "id": "OpenSearchIndexCRProvider",
            "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider",
            "children": {
              "CRRole": {
                "id": "CRRole",
                "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CRRole",
                "children": {
                  "ImportCRRole": {
                    "id": "ImportCRRole",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CRRole/ImportCRRole",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CRRole/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                      "aws:cdk:cloudformation:props": {
                        "assumeRolePolicyDocument": {
                          "Statement": [
                            {
                              "Action": "sts:AssumeRole",
                              "Effect": "Allow",
                              "Principal": {
                                "Service": "lambda.amazonaws.com"
                              }
                            }
                          ],
                          "Version": "2012-10-17"
                        },
                        "managedPolicyArns": [
                          {
                            "Fn::Join": [
                              "",
                              [
                                "arn:",
                                {
                                  "Ref": "AWS::Partition"
                                },
                                ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                              ]
                            ]
                          },
                          {
                            "Ref": "KnowledgeBaseVectorCollectionAOSSApiAccessAllF67C95FE"
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.Role",
                  "version": "2.151.0"
                }
              },
              "CustomResourcesFunction": {
                "id": "CustomResourcesFunction",
                "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CustomResourcesFunction",
                "children": {
                  "Code": {
                    "id": "Code",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CustomResourcesFunction/Code",
                    "children": {
                      "Stage": {
                        "id": "Stage",
                        "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CustomResourcesFunction/Code/Stage",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.AssetStaging",
                          "version": "2.151.0"
                        }
                      },
                      "AssetBucket": {
                        "id": "AssetBucket",
                        "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CustomResourcesFunction/Code/AssetBucket",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CustomResourcesFunction/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                      "aws:cdk:cloudformation:props": {
                        "code": {
                          "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                          "s3Key": "a2912058b7492462f84439982bc30d6d82b122913d61c23ff2d028385df9e527.zip"
                        },
                        "description": "Custom Resource Provider",
                        "handler": "custom_resources.on_event",
                        "memorySize": 128,
                        "role": {
                          "Fn::GetAtt": [
                            "OpenSearchIndexCRProviderCRRole466FC04E",
                            "Arn"
                          ]
                        },
                        "runtime": "python3.12",
                        "timeout": 900
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                      "version": "2.151.0"
                    }
                  },
                  "LogRetention": {
                    "id": "LogRetention",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CustomResourcesFunction/LogRetention",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CustomResourcesFunction/LogRetention/Resource",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_logs.LogRetention",
                      "version": "2.151.0"
                    }
                  },
                  "LogGroup": {
                    "id": "LogGroup",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/CustomResourcesFunction/LogGroup",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_lambda.Function",
                  "version": "2.151.0"
                }
              },
              "ProviderRole": {
                "id": "ProviderRole",
                "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/ProviderRole",
                "children": {
                  "ImportProviderRole": {
                    "id": "ImportProviderRole",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/ProviderRole/ImportProviderRole",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/ProviderRole/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                      "aws:cdk:cloudformation:props": {
                        "assumeRolePolicyDocument": {
                          "Statement": [
                            {
                              "Action": "sts:AssumeRole",
                              "Effect": "Allow",
                              "Principal": {
                                "Service": "lambda.amazonaws.com"
                              }
                            }
                          ],
                          "Version": "2012-10-17"
                        },
                        "managedPolicyArns": [
                          {
                            "Fn::Join": [
                              "",
                              [
                                "arn:",
                                {
                                  "Ref": "AWS::Partition"
                                },
                                ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                              ]
                            ]
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                      "version": "2.151.0"
                    }
                  },
                  "DefaultPolicy": {
                    "id": "DefaultPolicy",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/ProviderRole/DefaultPolicy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/ProviderRole/DefaultPolicy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                          "aws:cdk:cloudformation:props": {
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": "lambda:InvokeFunction",
                                  "Effect": "Allow",
                                  "Resource": [
                                    {
                                      "Fn::GetAtt": [
                                        "OpenSearchIndexCRProviderCustomResourcesFunction4F9ADEA2",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          {
                                            "Fn::GetAtt": [
                                              "OpenSearchIndexCRProviderCustomResourcesFunction4F9ADEA2",
                                              "Arn"
                                            ]
                                          },
                                          ":*"
                                        ]
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Version": "2012-10-17"
                            },
                            "policyName": "OpenSearchIndexCRProviderProviderRoleDefaultPolicy9810CB1F",
                            "roles": [
                              {
                                "Ref": "OpenSearchIndexCRProviderProviderRole87B4E831"
                              }
                            ]
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Policy",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.Role",
                  "version": "2.151.0"
                }
              },
              "Provider": {
                "id": "Provider",
                "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider",
                "children": {
                  "framework-onEvent": {
                    "id": "framework-onEvent",
                    "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider/framework-onEvent",
                    "children": {
                      "Code": {
                        "id": "Code",
                        "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider/framework-onEvent/Code",
                        "children": {
                          "Stage": {
                            "id": "Stage",
                            "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider/framework-onEvent/Code/Stage",
                            "constructInfo": {
                              "fqn": "aws-cdk-lib.AssetStaging",
                              "version": "2.151.0"
                            }
                          },
                          "AssetBucket": {
                            "id": "AssetBucket",
                            "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider/framework-onEvent/Code/AssetBucket",
                            "constructInfo": {
                              "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                              "version": "2.151.0"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                          "version": "2.151.0"
                        }
                      },
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider/framework-onEvent/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                          "aws:cdk:cloudformation:props": {
                            "code": {
                              "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                              "s3Key": "d9861ea7a45affd23e47a614acb2fddc6e45c20a891284c958187dafbf9ee36b.zip"
                            },
                            "description": "AWS CDK resource provider framework - onEvent (GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider)",
                            "environment": {
                              "variables": {
                                "USER_ON_EVENT_FUNCTION_ARN": {
                                  "Fn::GetAtt": [
                                    "OpenSearchIndexCRProviderCustomResourcesFunction4F9ADEA2",
                                    "Arn"
                                  ]
                                }
                              }
                            },
                            "handler": "framework.onEvent",
                            "role": {
                              "Fn::GetAtt": [
                                "OpenSearchIndexCRProviderProviderRole87B4E831",
                                "Arn"
                              ]
                            },
                            "runtime": "nodejs20.x",
                            "timeout": 900
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                          "version": "2.151.0"
                        }
                      },
                      "LogRetention": {
                        "id": "LogRetention",
                        "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider/framework-onEvent/LogRetention",
                        "children": {
                          "Resource": {
                            "id": "Resource",
                            "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider/framework-onEvent/LogRetention/Resource",
                            "constructInfo": {
                              "fqn": "aws-cdk-lib.CfnResource",
                              "version": "2.151.0"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_logs.LogRetention",
                          "version": "2.151.0"
                        }
                      },
                      "LogGroup": {
                        "id": "LogGroup",
                        "path": "GenAIUnderwritingValidationStack/OpenSearchIndexCRProvider/Provider/framework-onEvent/LogGroup",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.Resource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.Function",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.custom_resources.Provider",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a": {
            "id": "LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a",
            "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a",
            "children": {
              "Code": {
                "id": "Code",
                "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/Code",
                "children": {
                  "Stage": {
                    "id": "Stage",
                    "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/Code/Stage",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.AssetStaging",
                      "version": "2.151.0"
                    }
                  },
                  "AssetBucket": {
                    "id": "AssetBucket",
                    "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/Code/AssetBucket",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                  "version": "2.151.0"
                }
              },
              "ServiceRole": {
                "id": "ServiceRole",
                "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/ServiceRole",
                "children": {
                  "ImportServiceRole": {
                    "id": "ImportServiceRole",
                    "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/ServiceRole/ImportServiceRole",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/ServiceRole/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                      "aws:cdk:cloudformation:props": {
                        "assumeRolePolicyDocument": {
                          "Statement": [
                            {
                              "Action": "sts:AssumeRole",
                              "Effect": "Allow",
                              "Principal": {
                                "Service": "lambda.amazonaws.com"
                              }
                            }
                          ],
                          "Version": "2012-10-17"
                        },
                        "managedPolicyArns": [
                          {
                            "Fn::Join": [
                              "",
                              [
                                "arn:",
                                {
                                  "Ref": "AWS::Partition"
                                },
                                ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                              ]
                            ]
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                      "version": "2.151.0"
                    }
                  },
                  "DefaultPolicy": {
                    "id": "DefaultPolicy",
                    "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/ServiceRole/DefaultPolicy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/ServiceRole/DefaultPolicy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                          "aws:cdk:cloudformation:props": {
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": [
                                    "logs:DeleteRetentionPolicy",
                                    "logs:PutRetentionPolicy"
                                  ],
                                  "Effect": "Allow",
                                  "Resource": "*"
                                }
                              ],
                              "Version": "2012-10-17"
                            },
                            "policyName": "LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8aServiceRoleDefaultPolicyADDA7DEB",
                            "roles": [
                              {
                                "Ref": "LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8aServiceRole9741ECFB"
                              }
                            ]
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Policy",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.Role",
                  "version": "2.151.0"
                }
              },
              "Resource": {
                "id": "Resource",
                "path": "GenAIUnderwritingValidationStack/LogRetentionaae0aa3c5b4d4f87b02d85b201efdd8a/Resource",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.CfnResource",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "BedrockCRProvider": {
            "id": "BedrockCRProvider",
            "path": "GenAIUnderwritingValidationStack/BedrockCRProvider",
            "children": {
              "CRRole": {
                "id": "CRRole",
                "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CRRole",
                "children": {
                  "ImportCRRole": {
                    "id": "ImportCRRole",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CRRole/ImportCRRole",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CRRole/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                      "aws:cdk:cloudformation:props": {
                        "assumeRolePolicyDocument": {
                          "Statement": [
                            {
                              "Action": "sts:AssumeRole",
                              "Effect": "Allow",
                              "Principal": {
                                "Service": "lambda.amazonaws.com"
                              }
                            }
                          ],
                          "Version": "2012-10-17"
                        },
                        "managedPolicyArns": [
                          {
                            "Fn::Join": [
                              "",
                              [
                                "arn:",
                                {
                                  "Ref": "AWS::Partition"
                                },
                                ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                              ]
                            ]
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.Role",
                  "version": "2.151.0"
                }
              },
              "CustomResourcesFunction": {
                "id": "CustomResourcesFunction",
                "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CustomResourcesFunction",
                "children": {
                  "Code": {
                    "id": "Code",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CustomResourcesFunction/Code",
                    "children": {
                      "Stage": {
                        "id": "Stage",
                        "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CustomResourcesFunction/Code/Stage",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.AssetStaging",
                          "version": "2.151.0"
                        }
                      },
                      "AssetBucket": {
                        "id": "AssetBucket",
                        "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CustomResourcesFunction/Code/AssetBucket",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CustomResourcesFunction/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                      "aws:cdk:cloudformation:props": {
                        "code": {
                          "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                          "s3Key": "b577d1b7184c6cda9de08b3211207c852c57dd1b287de796fa3b43ed7486b48a.zip"
                        },
                        "description": "Custom Resource Provider",
                        "handler": "custom_resources.on_event",
                        "memorySize": 128,
                        "role": {
                          "Fn::GetAtt": [
                            "BedrockCRProviderCRRole90406B17",
                            "Arn"
                          ]
                        },
                        "runtime": "python3.12",
                        "timeout": 900
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                      "version": "2.151.0"
                    }
                  },
                  "LogRetention": {
                    "id": "LogRetention",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CustomResourcesFunction/LogRetention",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CustomResourcesFunction/LogRetention/Resource",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.CfnResource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_logs.LogRetention",
                      "version": "2.151.0"
                    }
                  },
                  "LogGroup": {
                    "id": "LogGroup",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/CustomResourcesFunction/LogGroup",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_lambda.Function",
                  "version": "2.151.0"
                }
              },
              "ProviderRole": {
                "id": "ProviderRole",
                "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/ProviderRole",
                "children": {
                  "ImportProviderRole": {
                    "id": "ImportProviderRole",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/ProviderRole/ImportProviderRole",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/ProviderRole/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                      "aws:cdk:cloudformation:props": {
                        "assumeRolePolicyDocument": {
                          "Statement": [
                            {
                              "Action": "sts:AssumeRole",
                              "Effect": "Allow",
                              "Principal": {
                                "Service": "lambda.amazonaws.com"
                              }
                            }
                          ],
                          "Version": "2012-10-17"
                        },
                        "managedPolicyArns": [
                          {
                            "Fn::Join": [
                              "",
                              [
                                "arn:",
                                {
                                  "Ref": "AWS::Partition"
                                },
                                ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                              ]
                            ]
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                      "version": "2.151.0"
                    }
                  },
                  "DefaultPolicy": {
                    "id": "DefaultPolicy",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/ProviderRole/DefaultPolicy",
                    "children": {
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/ProviderRole/DefaultPolicy/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                          "aws:cdk:cloudformation:props": {
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": "lambda:InvokeFunction",
                                  "Effect": "Allow",
                                  "Resource": [
                                    {
                                      "Fn::GetAtt": [
                                        "BedrockCRProviderCustomResourcesFunction9A70E3A5",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          {
                                            "Fn::GetAtt": [
                                              "BedrockCRProviderCustomResourcesFunction9A70E3A5",
                                              "Arn"
                                            ]
                                          },
                                          ":*"
                                        ]
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Version": "2012-10-17"
                            },
                            "policyName": "BedrockCRProviderProviderRoleDefaultPolicy517A1A7C",
                            "roles": [
                              {
                                "Ref": "BedrockCRProviderProviderRoleE6EBD17C"
                              }
                            ]
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Policy",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.Role",
                  "version": "2.151.0"
                }
              },
              "Provider": {
                "id": "Provider",
                "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider",
                "children": {
                  "framework-onEvent": {
                    "id": "framework-onEvent",
                    "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider/framework-onEvent",
                    "children": {
                      "Code": {
                        "id": "Code",
                        "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider/framework-onEvent/Code",
                        "children": {
                          "Stage": {
                            "id": "Stage",
                            "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider/framework-onEvent/Code/Stage",
                            "constructInfo": {
                              "fqn": "aws-cdk-lib.AssetStaging",
                              "version": "2.151.0"
                            }
                          },
                          "AssetBucket": {
                            "id": "AssetBucket",
                            "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider/framework-onEvent/Code/AssetBucket",
                            "constructInfo": {
                              "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                              "version": "2.151.0"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                          "version": "2.151.0"
                        }
                      },
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider/framework-onEvent/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                          "aws:cdk:cloudformation:props": {
                            "code": {
                              "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                              "s3Key": "d9861ea7a45affd23e47a614acb2fddc6e45c20a891284c958187dafbf9ee36b.zip"
                            },
                            "description": "AWS CDK resource provider framework - onEvent (GenAIUnderwritingValidationStack/BedrockCRProvider/Provider)",
                            "environment": {
                              "variables": {
                                "USER_ON_EVENT_FUNCTION_ARN": {
                                  "Fn::GetAtt": [
                                    "BedrockCRProviderCustomResourcesFunction9A70E3A5",
                                    "Arn"
                                  ]
                                }
                              }
                            },
                            "handler": "framework.onEvent",
                            "role": {
                              "Fn::GetAtt": [
                                "BedrockCRProviderProviderRoleE6EBD17C",
                                "Arn"
                              ]
                            },
                            "runtime": "nodejs20.x",
                            "timeout": 900
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                          "version": "2.151.0"
                        }
                      },
                      "LogRetention": {
                        "id": "LogRetention",
                        "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider/framework-onEvent/LogRetention",
                        "children": {
                          "Resource": {
                            "id": "Resource",
                            "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider/framework-onEvent/LogRetention/Resource",
                            "constructInfo": {
                              "fqn": "aws-cdk-lib.CfnResource",
                              "version": "2.151.0"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_logs.LogRetention",
                          "version": "2.151.0"
                        }
                      },
                      "LogGroup": {
                        "id": "LogGroup",
                        "path": "GenAIUnderwritingValidationStack/BedrockCRProvider/Provider/framework-onEvent/LogGroup",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.Resource",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.Function",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.custom_resources.Provider",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "Base64EncodeLambdaRole": {
            "id": "Base64EncodeLambdaRole",
            "path": "GenAIUnderwritingValidationStack/Base64EncodeLambdaRole",
            "children": {
              "ImportBase64EncodeLambdaRole": {
                "id": "ImportBase64EncodeLambdaRole",
                "path": "GenAIUnderwritingValidationStack/Base64EncodeLambdaRole/ImportBase64EncodeLambdaRole",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.Resource",
                  "version": "2.151.0"
                }
              },
              "Resource": {
                "id": "Resource",
                "path": "GenAIUnderwritingValidationStack/Base64EncodeLambdaRole/Resource",
                "attributes": {
                  "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                  "aws:cdk:cloudformation:props": {
                    "assumeRolePolicyDocument": {
                      "Statement": [
                        {
                          "Action": "sts:AssumeRole",
                          "Effect": "Allow",
                          "Principal": {
                            "Service": "lambda.amazonaws.com"
                          }
                        }
                      ],
                      "Version": "2012-10-17"
                    },
                    "policies": [
                      {
                        "policyName": "lambdaInvokePolicy",
                        "policyDocument": {
                          "Statement": [
                            {
                              "Action": "logs:CreateLogGroup",
                              "Effect": "Allow",
                              "Resource": "arn:aws:logs:us-east-1:339263341917:*"
                            },
                            {
                              "Action": [
                                "logs:CreateLogStream",
                                "logs:PutLogEvents"
                              ],
                              "Effect": "Allow",
                              "Resource": "arn:aws:logs:us-east-1:339263341917:log-group:/aws/lambda/Base64EncodeLambda-964:*"
                            },
                            {
                              "Action": [
                                "s3:GetObject",
                                "s3:GetObjectVersion",
                                "s3:ListBucket",
                                "s3:PutObject"
                              ],
                              "Effect": "Allow",
                              "Resource": [
                                {
                                  "Fn::Join": [
                                    "",
                                    [
                                      "arn:aws:s3:::",
                                      {
                                        "Ref": "DocumentS3Bucket964S3Bucketunderwritingdocumentbucket96419F2A951"
                                      },
                                      "/*"
                                    ]
                                  ]
                                },
                                {
                                  "Fn::Join": [
                                    "",
                                    [
                                      "arn:aws:s3:::",
                                      {
                                        "Ref": "DocumentS3Bucket964S3Bucketunderwritingdocumentbucket96419F2A951"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "Fn::Join": [
                                    "",
                                    [
                                      "arn:aws:s3:::",
                                      {
                                        "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                      },
                                      "/*"
                                    ]
                                  ]
                                },
                                {
                                  "Fn::Join": [
                                    "",
                                    [
                                      "arn:aws:s3:::",
                                      {
                                        "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                      }
                                    ]
                                  ]
                                }
                              ]
                            }
                          ],
                          "Version": "2012-10-17"
                        }
                      }
                    ]
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "aws-cdk-lib.aws_iam.Role",
              "version": "2.151.0"
            }
          },
          "Base64EncodeLambda": {
            "id": "Base64EncodeLambda",
            "path": "GenAIUnderwritingValidationStack/Base64EncodeLambda",
            "children": {
              "Lambda-Base64EncodeLambda-964": {
                "id": "Lambda-Base64EncodeLambda-964",
                "path": "GenAIUnderwritingValidationStack/Base64EncodeLambda/Lambda-Base64EncodeLambda-964",
                "children": {
                  "Code": {
                    "id": "Code",
                    "path": "GenAIUnderwritingValidationStack/Base64EncodeLambda/Lambda-Base64EncodeLambda-964/Code",
                    "children": {
                      "Stage": {
                        "id": "Stage",
                        "path": "GenAIUnderwritingValidationStack/Base64EncodeLambda/Lambda-Base64EncodeLambda-964/Code/Stage",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.AssetStaging",
                          "version": "2.151.0"
                        }
                      },
                      "AssetBucket": {
                        "id": "AssetBucket",
                        "path": "GenAIUnderwritingValidationStack/Base64EncodeLambda/Lambda-Base64EncodeLambda-964/Code/AssetBucket",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/Base64EncodeLambda/Lambda-Base64EncodeLambda-964/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                      "aws:cdk:cloudformation:props": {
                        "code": {
                          "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                          "s3Key": "33923623b98f54deffce284471cba2cbfc8d71609fe23c130384d784569d2381.zip"
                        },
                        "environment": {
                          "variables": {
                            "INPUT_S3_BUCKET_NAME": {
                              "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                            },
                            "INPUT_S3_BUCKET_CLASSIFICATION_KEY": "classification_input.json",
                            "INPUT_S3_BUCKET_EXTRACT_NAME_AND_LICENSE_KEY": "extract_name_and_license_input.json"
                          }
                        },
                        "functionName": "Base64EncodeLambda-964",
                        "handler": "base64_encode.lambda_handler",
                        "role": {
                          "Fn::GetAtt": [
                            "Base64EncodeLambdaRole3CE23390",
                            "Arn"
                          ]
                        },
                        "runtime": "python3.12",
                        "timeout": 30
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                      "version": "2.151.0"
                    }
                  },
                  "Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=": {
                    "id": "Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=",
                    "path": "GenAIUnderwritingValidationStack/Base64EncodeLambda/Lambda-Base64EncodeLambda-964/Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Permission",
                      "aws:cdk:cloudformation:props": {
                        "action": "lambda:InvokeFunction",
                        "functionName": {
                          "Fn::GetAtt": [
                            "Base64EncodeLambdaLambdaBase64EncodeLambda96412F93FC1",
                            "Arn"
                          ]
                        },
                        "principal": "states.amazonaws.com"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnPermission",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_lambda.Function",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "DmvAPICallLambdaRole": {
            "id": "DmvAPICallLambdaRole",
            "path": "GenAIUnderwritingValidationStack/DmvAPICallLambdaRole",
            "children": {
              "ImportDmvAPICallLambdaRole": {
                "id": "ImportDmvAPICallLambdaRole",
                "path": "GenAIUnderwritingValidationStack/DmvAPICallLambdaRole/ImportDmvAPICallLambdaRole",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.Resource",
                  "version": "2.151.0"
                }
              },
              "Resource": {
                "id": "Resource",
                "path": "GenAIUnderwritingValidationStack/DmvAPICallLambdaRole/Resource",
                "attributes": {
                  "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                  "aws:cdk:cloudformation:props": {
                    "assumeRolePolicyDocument": {
                      "Statement": [
                        {
                          "Action": "sts:AssumeRole",
                          "Effect": "Allow",
                          "Principal": {
                            "Service": "lambda.amazonaws.com"
                          }
                        }
                      ],
                      "Version": "2012-10-17"
                    },
                    "managedPolicyArns": [
                      {
                        "Fn::Join": [
                          "",
                          [
                            "arn:",
                            {
                              "Ref": "AWS::Partition"
                            },
                            ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                          ]
                        ]
                      }
                    ]
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "aws-cdk-lib.aws_iam.Role",
              "version": "2.151.0"
            }
          },
          "DmvAPICallLambda": {
            "id": "DmvAPICallLambda",
            "path": "GenAIUnderwritingValidationStack/DmvAPICallLambda",
            "children": {
              "Lambda-DmvAPICallLambda-964": {
                "id": "Lambda-DmvAPICallLambda-964",
                "path": "GenAIUnderwritingValidationStack/DmvAPICallLambda/Lambda-DmvAPICallLambda-964",
                "children": {
                  "Code": {
                    "id": "Code",
                    "path": "GenAIUnderwritingValidationStack/DmvAPICallLambda/Lambda-DmvAPICallLambda-964/Code",
                    "children": {
                      "Stage": {
                        "id": "Stage",
                        "path": "GenAIUnderwritingValidationStack/DmvAPICallLambda/Lambda-DmvAPICallLambda-964/Code/Stage",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.AssetStaging",
                          "version": "2.151.0"
                        }
                      },
                      "AssetBucket": {
                        "id": "AssetBucket",
                        "path": "GenAIUnderwritingValidationStack/DmvAPICallLambda/Lambda-DmvAPICallLambda-964/Code/AssetBucket",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/DmvAPICallLambda/Lambda-DmvAPICallLambda-964/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                      "aws:cdk:cloudformation:props": {
                        "code": {
                          "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                          "s3Key": "eabaece4797d76eebe39c7790c8d6a73b06d450235feedd3172ce39f1c4ca978.zip"
                        },
                        "functionName": "DmvAPICallLambda-964",
                        "handler": "dmv_api_call.lambda_handler",
                        "role": {
                          "Fn::GetAtt": [
                            "DmvAPICallLambdaRole13FFE649",
                            "Arn"
                          ]
                        },
                        "runtime": "python3.12",
                        "timeout": 30
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                      "version": "2.151.0"
                    }
                  },
                  "Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=": {
                    "id": "Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=",
                    "path": "GenAIUnderwritingValidationStack/DmvAPICallLambda/Lambda-DmvAPICallLambda-964/Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Permission",
                      "aws:cdk:cloudformation:props": {
                        "action": "lambda:InvokeFunction",
                        "functionName": {
                          "Fn::GetAtt": [
                            "DmvAPICallLambdaLambdaDmvAPICallLambda96406DBF1C2",
                            "Arn"
                          ]
                        },
                        "principal": "states.amazonaws.com"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnPermission",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_lambda.Function",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "CombineRetrievedInformationLambdaRole": {
            "id": "CombineRetrievedInformationLambdaRole",
            "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambdaRole",
            "children": {
              "ImportCombineRetrievedInformationLambdaRole": {
                "id": "ImportCombineRetrievedInformationLambdaRole",
                "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambdaRole/ImportCombineRetrievedInformationLambdaRole",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.Resource",
                  "version": "2.151.0"
                }
              },
              "Resource": {
                "id": "Resource",
                "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambdaRole/Resource",
                "attributes": {
                  "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                  "aws:cdk:cloudformation:props": {
                    "assumeRolePolicyDocument": {
                      "Statement": [
                        {
                          "Action": "sts:AssumeRole",
                          "Effect": "Allow",
                          "Principal": {
                            "Service": "lambda.amazonaws.com"
                          }
                        }
                      ],
                      "Version": "2012-10-17"
                    },
                    "managedPolicyArns": [
                      {
                        "Fn::Join": [
                          "",
                          [
                            "arn:",
                            {
                              "Ref": "AWS::Partition"
                            },
                            ":iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
                          ]
                        ]
                      }
                    ]
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "aws-cdk-lib.aws_iam.Role",
              "version": "2.151.0"
            }
          },
          "CombineRetrievedInformationLambda": {
            "id": "CombineRetrievedInformationLambda",
            "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambda",
            "children": {
              "Lambda-CombineRetrievedInformationLambda-964": {
                "id": "Lambda-CombineRetrievedInformationLambda-964",
                "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambda/Lambda-CombineRetrievedInformationLambda-964",
                "children": {
                  "Code": {
                    "id": "Code",
                    "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambda/Lambda-CombineRetrievedInformationLambda-964/Code",
                    "children": {
                      "Stage": {
                        "id": "Stage",
                        "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambda/Lambda-CombineRetrievedInformationLambda-964/Code/Stage",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.AssetStaging",
                          "version": "2.151.0"
                        }
                      },
                      "AssetBucket": {
                        "id": "AssetBucket",
                        "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambda/Lambda-CombineRetrievedInformationLambda-964/Code/AssetBucket",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambda/Lambda-CombineRetrievedInformationLambda-964/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                      "aws:cdk:cloudformation:props": {
                        "code": {
                          "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                          "s3Key": "d098e34cc0de36e8bbf4ef2cccb759fc2fe58d19ccadb051b7b3244ed295129d.zip"
                        },
                        "functionName": "CombineRetrievedInformationLambda-964",
                        "handler": "combine_retrieved_information.lambda_handler",
                        "role": {
                          "Fn::GetAtt": [
                            "CombineRetrievedInformationLambdaRoleB3DFD077",
                            "Arn"
                          ]
                        },
                        "runtime": "python3.12",
                        "timeout": 30
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                      "version": "2.151.0"
                    }
                  },
                  "Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=": {
                    "id": "Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=",
                    "path": "GenAIUnderwritingValidationStack/CombineRetrievedInformationLambda/Lambda-CombineRetrievedInformationLambda-964/Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Permission",
                      "aws:cdk:cloudformation:props": {
                        "action": "lambda:InvokeFunction",
                        "functionName": {
                          "Fn::GetAtt": [
                            "CombineRetrievedInformationLambdaLambdaCombineRetrievedInformationLambda964649542E0",
                            "Arn"
                          ]
                        },
                        "principal": "states.amazonaws.com"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnPermission",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_lambda.Function",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "GenerateFinalPromptLambdaRole": {
            "id": "GenerateFinalPromptLambdaRole",
            "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambdaRole",
            "children": {
              "ImportGenerateFinalPromptLambdaRole": {
                "id": "ImportGenerateFinalPromptLambdaRole",
                "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambdaRole/ImportGenerateFinalPromptLambdaRole",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.Resource",
                  "version": "2.151.0"
                }
              },
              "Resource": {
                "id": "Resource",
                "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambdaRole/Resource",
                "attributes": {
                  "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                  "aws:cdk:cloudformation:props": {
                    "assumeRolePolicyDocument": {
                      "Statement": [
                        {
                          "Action": "sts:AssumeRole",
                          "Effect": "Allow",
                          "Principal": {
                            "Service": "lambda.amazonaws.com"
                          }
                        }
                      ],
                      "Version": "2012-10-17"
                    },
                    "policies": [
                      {
                        "policyName": "lambdaInvokePolicy",
                        "policyDocument": {
                          "Statement": [
                            {
                              "Action": "logs:CreateLogGroup",
                              "Effect": "Allow",
                              "Resource": "arn:aws:logs:us-east-1:339263341917:*"
                            },
                            {
                              "Action": [
                                "logs:CreateLogStream",
                                "logs:PutLogEvents"
                              ],
                              "Effect": "Allow",
                              "Resource": "arn:aws:logs:us-east-1:339263341917:log-group:/aws/lambda/GenerateFinalPromptLambda-964:*"
                            },
                            {
                              "Action": [
                                "s3:GetObject",
                                "s3:GetObjectVersion",
                                "s3:ListBucket",
                                "s3:PutObject"
                              ],
                              "Effect": "Allow",
                              "Resource": [
                                {
                                  "Fn::Join": [
                                    "",
                                    [
                                      "arn:aws:s3:::",
                                      {
                                        "Ref": "DocumentS3Bucket964S3Bucketunderwritingdocumentbucket96419F2A951"
                                      },
                                      "/*"
                                    ]
                                  ]
                                },
                                {
                                  "Fn::Join": [
                                    "",
                                    [
                                      "arn:aws:s3:::",
                                      {
                                        "Ref": "DocumentS3Bucket964S3Bucketunderwritingdocumentbucket96419F2A951"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "Fn::Join": [
                                    "",
                                    [
                                      "arn:aws:s3:::",
                                      {
                                        "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                      },
                                      "/*"
                                    ]
                                  ]
                                },
                                {
                                  "Fn::Join": [
                                    "",
                                    [
                                      "arn:aws:s3:::",
                                      {
                                        "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                      }
                                    ]
                                  ]
                                }
                              ]
                            }
                          ],
                          "Version": "2012-10-17"
                        }
                      }
                    ]
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "aws-cdk-lib.aws_iam.Role",
              "version": "2.151.0"
            }
          },
          "GenerateFinalPromptLambda": {
            "id": "GenerateFinalPromptLambda",
            "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambda",
            "children": {
              "Lambda-GenerateFinalPromptLambda-964": {
                "id": "Lambda-GenerateFinalPromptLambda-964",
                "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambda/Lambda-GenerateFinalPromptLambda-964",
                "children": {
                  "Code": {
                    "id": "Code",
                    "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambda/Lambda-GenerateFinalPromptLambda-964/Code",
                    "children": {
                      "Stage": {
                        "id": "Stage",
                        "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambda/Lambda-GenerateFinalPromptLambda-964/Code/Stage",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.AssetStaging",
                          "version": "2.151.0"
                        }
                      },
                      "AssetBucket": {
                        "id": "AssetBucket",
                        "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambda/Lambda-GenerateFinalPromptLambda-964/Code/AssetBucket",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_s3.BucketBase",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_s3_assets.Asset",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambda/Lambda-GenerateFinalPromptLambda-964/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Function",
                      "aws:cdk:cloudformation:props": {
                        "code": {
                          "s3Bucket": "cdk-hnb659fds-assets-339263341917-us-east-1",
                          "s3Key": "1097e91a5d2fb359227d6b572fc614203530d5777b4f1bade191a88b4c893c66.zip"
                        },
                        "environment": {
                          "variables": {
                            "INPUT_S3_BUCKET_NAME": {
                              "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                            },
                            "INPUT_S3_BUCKET_FINAL_PROMPT_KEY": "final_prompt_input.json"
                          }
                        },
                        "functionName": "GenerateFinalPromptLambda-964",
                        "handler": "generate_final_prompt.lambda_handler",
                        "role": {
                          "Fn::GetAtt": [
                            "GenerateFinalPromptLambdaRoleDC2A62EA",
                            "Arn"
                          ]
                        },
                        "runtime": "python3.12",
                        "timeout": 30
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnFunction",
                      "version": "2.151.0"
                    }
                  },
                  "Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=": {
                    "id": "Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=",
                    "path": "GenAIUnderwritingValidationStack/GenerateFinalPromptLambda/Lambda-GenerateFinalPromptLambda-964/Invoke--tnlpEgfIKpZyEIAINy+VhXFS+IfV5EJ7IaMp0cNGOc=",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Lambda::Permission",
                      "aws:cdk:cloudformation:props": {
                        "action": "lambda:InvokeFunction",
                        "functionName": {
                          "Fn::GetAtt": [
                            "GenerateFinalPromptLambdaLambdaGenerateFinalPromptLambda964B1550916",
                            "Arn"
                          ]
                        },
                        "principal": "states.amazonaws.com"
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_lambda.CfnPermission",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_lambda.Function",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "StepFunctions": {
            "id": "StepFunctions",
            "path": "GenAIUnderwritingValidationStack/StepFunctions",
            "children": {
              "StateMachineExecutionRole": {
                "id": "StateMachineExecutionRole",
                "path": "GenAIUnderwritingValidationStack/StepFunctions/StateMachineExecutionRole",
                "children": {
                  "ImportStateMachineExecutionRole": {
                    "id": "ImportStateMachineExecutionRole",
                    "path": "GenAIUnderwritingValidationStack/StepFunctions/StateMachineExecutionRole/ImportStateMachineExecutionRole",
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.Resource",
                      "version": "2.151.0"
                    }
                  },
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/StepFunctions/StateMachineExecutionRole/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                      "aws:cdk:cloudformation:props": {
                        "assumeRolePolicyDocument": {
                          "Statement": [
                            {
                              "Action": "sts:AssumeRole",
                              "Effect": "Allow",
                              "Principal": {
                                "Service": "states.amazonaws.com"
                              }
                            }
                          ],
                          "Version": "2012-10-17"
                        },
                        "policies": [
                          {
                            "policyName": "lambdaInvokePolicy",
                            "policyDocument": {
                              "Statement": [
                                {
                                  "Action": [
                                    "bedrock:Retrieve",
                                    "bedrock:RetrieveAndGenerate"
                                  ],
                                  "Effect": "Allow",
                                  "Resource": "*"
                                },
                                {
                                  "Action": "lambda:InvokeFunction",
                                  "Effect": "Allow",
                                  "Resource": [
                                    {
                                      "Fn::GetAtt": [
                                        "Base64EncodeLambdaLambdaBase64EncodeLambda96412F93FC1",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::GetAtt": [
                                        "CombineRetrievedInformationLambdaLambdaCombineRetrievedInformationLambda964649542E0",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::GetAtt": [
                                        "DmvAPICallLambdaLambdaDmvAPICallLambda96406DBF1C2",
                                        "Arn"
                                      ]
                                    },
                                    {
                                      "Fn::GetAtt": [
                                        "GenerateFinalPromptLambdaLambdaGenerateFinalPromptLambda964B1550916",
                                        "Arn"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "Action": "bedrock:InvokeModel",
                                  "Effect": "Allow",
                                  "Resource": [
                                    "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
                                    "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-sonnet-20240229-v1:0"
                                  ]
                                },
                                {
                                  "Action": [
                                    "s3:GetObject",
                                    "s3:GetObjectVersion",
                                    "s3:ListBucket",
                                    "s3:PutObject"
                                  ],
                                  "Effect": "Allow",
                                  "Resource": [
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          "arn:aws:s3:::",
                                          {
                                            "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                          },
                                          "/*"
                                        ]
                                      ]
                                    },
                                    {
                                      "Fn::Join": [
                                        "",
                                        [
                                          "arn:aws:s3:::",
                                          {
                                            "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                          }
                                        ]
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "Version": "2012-10-17"
                            }
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_iam.Role",
                  "version": "2.151.0"
                }
              },
              "StateMachine": {
                "id": "StateMachine",
                "path": "GenAIUnderwritingValidationStack/StepFunctions/StateMachine",
                "attributes": {
                  "aws:cdk:cloudformation:type": "AWS::StepFunctions::StateMachine",
                  "aws:cdk:cloudformation:props": {
                    "definition": {
                      "Comment": "A description of my state machine",
                      "StartAt": "Base64 Image Encoding",
                      "States": {
                        "Base64 Image Encoding": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "OutputPath": "$.Payload",
                          "Parameters": {
                            "Payload.$": "$",
                            "FunctionName": {
                              "Fn::GetAtt": [
                                "Base64EncodeLambdaLambdaBase64EncodeLambda96412F93FC1",
                                "Arn"
                              ]
                            }
                          },
                          "Retry": [
                            {
                              "ErrorEquals": [
                                "Lambda.ServiceException",
                                "Lambda.AWSLambdaException",
                                "Lambda.SdkClientException",
                                "Lambda.TooManyRequestsException"
                              ],
                              "IntervalSeconds": 1,
                              "MaxAttempts": 3,
                              "BackoffRate": 2
                            }
                          ],
                          "Next": "Classification",
                          "InputPath": "$.detail"
                        },
                        "Classification": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::bedrock:invokeModel",
                          "Parameters": {
                            "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
                            "Input": {
                              "S3Uri": {
                                "Fn::Join": [
                                  "",
                                  [
                                    "s3://",
                                    {
                                      "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                    },
                                    "/classification_input.json"
                                  ]
                                ]
                              }
                            },
                            "ContentType": "application/json",
                            "Accept": "application/json"
                          },
                          "Next": "Choice (YES or NO)",
                          "ResultPath": "$.result"
                        },
                        "Choice (YES or NO)": {
                          "Type": "Choice",
                          "Choices": [
                            {
                              "Not": {
                                "Variable": "$.result.Body.content[0].text",
                                "StringMatches": "YES"
                              },
                              "Comment": "It is not a driving license",
                              "Next": "Fail"
                            }
                          ],
                          "Default": "Parallel"
                        },
                        "Parallel": {
                          "Type": "Parallel",
                          "Next": "Generate Final Prompt",
                          "Branches": [
                            {
                              "StartAt": "Extract Name and License #",
                              "States": {
                                "Extract Name and License #": {
                                  "Parameters": {
                                    "Accept": "application/json",
                                    "ContentType": "application/json",
                                    "Input": {
                                      "S3Uri": {
                                        "Fn::Join": [
                                          "",
                                          [
                                            "s3://",
                                            {
                                              "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                            },
                                            "/extract_name_and_license_input.json"
                                          ]
                                        ]
                                      }
                                    },
                                    "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0"
                                  },
                                  "Resource": "arn:aws:states:::bedrock:invokeModel",
                                  "Type": "Task",
                                  "Next": "Call DMV with License Info"
                                },
                                "Call DMV with License Info": {
                                  "OutputPath": "$.Payload",
                                  "Parameters": {
                                    "FunctionName": {
                                      "Fn::GetAtt": [
                                        "DmvAPICallLambdaLambdaDmvAPICallLambda96406DBF1C2",
                                        "Arn"
                                      ]
                                    },
                                    "Payload.$": "$"
                                  },
                                  "Resource": "arn:aws:states:::lambda:invoke",
                                  "Retry": [
                                    {
                                      "BackoffRate": 2,
                                      "ErrorEquals": [
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException",
                                        "Lambda.TooManyRequestsException"
                                      ],
                                      "IntervalSeconds": 1,
                                      "MaxAttempts": 3
                                    }
                                  ],
                                  "Type": "Task",
                                  "End": true
                                }
                              }
                            },
                            {
                              "StartAt": "Retrieve information from Underwriting Manual",
                              "States": {
                                "Retrieve information from Underwriting Manual": {
                                  "Type": "Task",
                                  "Parameters": {
                                    "KnowledgeBaseId": {
                                      "Fn::GetAtt": [
                                        "KnowledgeBaseKBD784F467",
                                        "knowledgeBaseId"
                                      ]
                                    },
                                    "RetrievalQuery": {
                                      "Text": "Underwriting rules applicable for a driver to get insurance.\n"
                                    }
                                  },
                                  "Resource": "arn:aws:states:::aws-sdk:bedrockagentruntime:retrieve",
                                  "Next": "Combine Retrieved Information"
                                },
                                "Combine Retrieved Information": {
                                  "Type": "Task",
                                  "Resource": "arn:aws:states:::lambda:invoke",
                                  "OutputPath": "$.Payload",
                                  "Parameters": {
                                    "FunctionName": {
                                      "Fn::GetAtt": [
                                        "CombineRetrievedInformationLambdaLambdaCombineRetrievedInformationLambda964649542E0",
                                        "Arn"
                                      ]
                                    },
                                    "Payload.$": "$"
                                  },
                                  "Retry": [
                                    {
                                      "ErrorEquals": [
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException",
                                        "Lambda.TooManyRequestsException"
                                      ],
                                      "IntervalSeconds": 1,
                                      "MaxAttempts": 3,
                                      "BackoffRate": 2
                                    }
                                  ],
                                  "End": true
                                }
                              }
                            }
                          ]
                        },
                        "Generate Final Prompt": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "OutputPath": "$.Payload",
                          "Parameters": {
                            "Payload.$": "$",
                            "FunctionName": {
                              "Fn::GetAtt": [
                                "GenerateFinalPromptLambdaLambdaGenerateFinalPromptLambda964B1550916",
                                "Arn"
                              ]
                            }
                          },
                          "Retry": [
                            {
                              "ErrorEquals": [
                                "Lambda.ServiceException",
                                "Lambda.AWSLambdaException",
                                "Lambda.SdkClientException",
                                "Lambda.TooManyRequestsException"
                              ],
                              "IntervalSeconds": 1,
                              "MaxAttempts": 3,
                              "BackoffRate": 2
                            }
                          ],
                          "Next": "Get Final Result from Bedrock"
                        },
                        "Get Final Result from Bedrock": {
                          "Parameters": {
                            "Accept": "application/json",
                            "ContentType": "application/json",
                            "Input": {
                              "S3Uri": {
                                "Fn::Join": [
                                  "",
                                  [
                                    "s3://",
                                    {
                                      "Ref": "StepFunctionInputOutputBucket964S3Bucketstepfunctioninputbucket9648E6550B4"
                                    },
                                    "/final_prompt_input.json"
                                  ]
                                ]
                              }
                            },
                            "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-sonnet-20240229-v1:0"
                          },
                          "Resource": "arn:aws:states:::bedrock:invokeModel",
                          "Type": "Task",
                          "Next": "Success"
                        },
                        "Fail": {
                          "Type": "Fail"
                        },
                        "Success": {
                          "Type": "Succeed"
                        }
                      }
                    },
                    "roleArn": {
                      "Fn::GetAtt": [
                        "StepFunctionsStateMachineExecutionRole83102128",
                        "Arn"
                      ]
                    },
                    "stateMachineName": "UnderwritingValidationStateMachine"
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_stepfunctions.CfnStateMachine",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "EventBridge": {
            "id": "EventBridge",
            "path": "GenAIUnderwritingValidationStack/EventBridge",
            "children": {
              "StateMachineTarget": {
                "id": "StateMachineTarget",
                "path": "GenAIUnderwritingValidationStack/EventBridge/StateMachineTarget",
                "children": {
                  "EventsRole": {
                    "id": "EventsRole",
                    "path": "GenAIUnderwritingValidationStack/EventBridge/StateMachineTarget/EventsRole",
                    "children": {
                      "ImportEventsRole": {
                        "id": "ImportEventsRole",
                        "path": "GenAIUnderwritingValidationStack/EventBridge/StateMachineTarget/EventsRole/ImportEventsRole",
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.Resource",
                          "version": "2.151.0"
                        }
                      },
                      "Resource": {
                        "id": "Resource",
                        "path": "GenAIUnderwritingValidationStack/EventBridge/StateMachineTarget/EventsRole/Resource",
                        "attributes": {
                          "aws:cdk:cloudformation:type": "AWS::IAM::Role",
                          "aws:cdk:cloudformation:props": {
                            "assumeRolePolicyDocument": {
                              "Statement": [
                                {
                                  "Action": "sts:AssumeRole",
                                  "Effect": "Allow",
                                  "Principal": {
                                    "Service": "events.amazonaws.com"
                                  }
                                }
                              ],
                              "Version": "2012-10-17"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.CfnRole",
                          "version": "2.151.0"
                        }
                      },
                      "DefaultPolicy": {
                        "id": "DefaultPolicy",
                        "path": "GenAIUnderwritingValidationStack/EventBridge/StateMachineTarget/EventsRole/DefaultPolicy",
                        "children": {
                          "Resource": {
                            "id": "Resource",
                            "path": "GenAIUnderwritingValidationStack/EventBridge/StateMachineTarget/EventsRole/DefaultPolicy/Resource",
                            "attributes": {
                              "aws:cdk:cloudformation:type": "AWS::IAM::Policy",
                              "aws:cdk:cloudformation:props": {
                                "policyDocument": {
                                  "Statement": [
                                    {
                                      "Action": "states:StartExecution",
                                      "Effect": "Allow",
                                      "Resource": {
                                        "Ref": "StepFunctionsStateMachineAF92D462"
                                      }
                                    }
                                  ],
                                  "Version": "2012-10-17"
                                },
                                "policyName": "EventBridgeStateMachineTargetEventsRoleDefaultPolicy8BE1DE6C",
                                "roles": [
                                  {
                                    "Ref": "EventBridgeStateMachineTargetEventsRole0B8B539B"
                                  }
                                ]
                              }
                            },
                            "constructInfo": {
                              "fqn": "aws-cdk-lib.aws_iam.CfnPolicy",
                              "version": "2.151.0"
                            }
                          }
                        },
                        "constructInfo": {
                          "fqn": "aws-cdk-lib.aws_iam.Policy",
                          "version": "2.151.0"
                        }
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_iam.Role",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.Resource",
                  "version": "2.151.0"
                }
              },
              "ExecuteStepFunctionAfterFileUploadRule": {
                "id": "ExecuteStepFunctionAfterFileUploadRule",
                "path": "GenAIUnderwritingValidationStack/EventBridge/ExecuteStepFunctionAfterFileUploadRule",
                "children": {
                  "Resource": {
                    "id": "Resource",
                    "path": "GenAIUnderwritingValidationStack/EventBridge/ExecuteStepFunctionAfterFileUploadRule/Resource",
                    "attributes": {
                      "aws:cdk:cloudformation:type": "AWS::Events::Rule",
                      "aws:cdk:cloudformation:props": {
                        "description": "Rule to invoke AWS Step Function flow after a file is uploaded into S3 bucket.",
                        "eventPattern": {
                          "source": [
                            "aws.s3"
                          ],
                          "detail-type": [
                            "Object Created"
                          ],
                          "detail": {
                            "bucket": {
                              "name": [
                                "underwriting-document-bucket-964"
                              ]
                            }
                          }
                        },
                        "name": "ExecuteStepFunctionAfterFileUploadRule",
                        "state": "ENABLED",
                        "targets": [
                          {
                            "id": "Target0",
                            "arn": {
                              "Ref": "StepFunctionsStateMachineAF92D462"
                            },
                            "roleArn": {
                              "Fn::GetAtt": [
                                "EventBridgeStateMachineTargetEventsRole0B8B539B",
                                "Arn"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "constructInfo": {
                      "fqn": "aws-cdk-lib.aws_events.CfnRule",
                      "version": "2.151.0"
                    }
                  }
                },
                "constructInfo": {
                  "fqn": "aws-cdk-lib.aws_events.Rule",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "KnowledgeBaseId": {
            "id": "KnowledgeBaseId",
            "path": "GenAIUnderwritingValidationStack/KnowledgeBaseId",
            "constructInfo": {
              "fqn": "aws-cdk-lib.CfnOutput",
              "version": "2.151.0"
            }
          },
          "DataSourceId": {
            "id": "DataSourceId",
            "path": "GenAIUnderwritingValidationStack/DataSourceId",
            "constructInfo": {
              "fqn": "aws-cdk-lib.CfnOutput",
              "version": "2.151.0"
            }
          },
          "UnderwritingBucketURL": {
            "id": "UnderwritingBucketURL",
            "path": "GenAIUnderwritingValidationStack/UnderwritingBucketURL",
            "constructInfo": {
              "fqn": "aws-cdk-lib.CfnOutput",
              "version": "2.151.0"
            }
          },
          "CDKMetadata": {
            "id": "CDKMetadata",
            "path": "GenAIUnderwritingValidationStack/CDKMetadata",
            "children": {
              "Default": {
                "id": "Default",
                "path": "GenAIUnderwritingValidationStack/CDKMetadata/Default",
                "constructInfo": {
                  "fqn": "aws-cdk-lib.CfnResource",
                  "version": "2.151.0"
                }
              }
            },
            "constructInfo": {
              "fqn": "constructs.Construct",
              "version": "10.3.0"
            }
          },
          "BootstrapVersion": {
            "id": "BootstrapVersion",
            "path": "GenAIUnderwritingValidationStack/BootstrapVersion",
            "constructInfo": {
              "fqn": "aws-cdk-lib.CfnParameter",
              "version": "2.151.0"
            }
          },
          "CheckBootstrapVersion": {
            "id": "CheckBootstrapVersion",
            "path": "GenAIUnderwritingValidationStack/CheckBootstrapVersion",
            "constructInfo": {
              "fqn": "aws-cdk-lib.CfnRule",
              "version": "2.151.0"
            }
          }
        },
        "constructInfo": {
          "fqn": "aws-cdk-lib.Stack",
          "version": "2.151.0"
        }
      },
      "Tree": {
        "id": "Tree",
        "path": "Tree",
        "constructInfo": {
          "fqn": "constructs.Construct",
          "version": "10.3.0"
        }
      }
    },
    "constructInfo": {
      "fqn": "aws-cdk-lib.App",
      "version": "2.151.0"
    }
  }
}